<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>192059199344-hv1a7lh2mnsjqmq75nakd90jnq9ju4pt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.192059199344-hv1a7lh2mnsjqmq75nakd90jnq9ju4pt</string>
	<key>API_KEY</key>
	<string>AIzaSyCd5d6W01wpNEe0dqvot7A-PlpsIIbDPw4</string>
	<key>GCM_SENDER_ID</key>
	<string>192059199344</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hhg.flutter.auth</string>
	<key>PROJECT_ID</key>
	<string>kstsystems-5d1d3</string>
	<key>STORAGE_BUCKET</key>
	<string>kstsystems-5d1d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:192059199344:ios:9b7609ba448a6d4e7549b5</string>
	<key>DATABASE_URL</key>
	<string>https://kstsystems-5d1d3.firebaseio.com</string>
</dict>
</plist>